<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Our Application</title>
</head>
<body>
    <h1>Welcome to Our Application</h1>
    <form action="/login" method="get">
        <button type="submit">Login</button>
    </form>
    <form action="/register" method="get">
        <button type="submit">Register</button>
    </form>
</body>
</html>
