<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form id="registerForm" action="/register" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Register</button>
    </form>

    <script>
        // Обработчик отправки формы регистрации
        document.getElementById('registerForm').addEventListener('submit', function(event) {
            const formData = new FormData(this);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/register');
            xhr.setRequestHeader('Content-Type', 'application/json'); // Убедитесь, что устанавливаете правильный Content-Type
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log('Registration successful');
                        // Здесь можно выполнить дополнительные действия после успешной регистрации, если нужно
                    } else {
                        console.error('Registration failed:', xhr.responseText);
                    }
                }
            };
            xhr.send(JSON.stringify({
                username: formData.get('username'),
                email: formData.get('email'),
                password: formData.get('password')
            }));
            event.preventDefault();
        });
    </script>
</body>
</html>
